.slide img {
  height: 650px;
  width: 100%;
  background: black;
  opacity: 0.6;
}
.slide {
  background: rgb(66, 65, 65);
}
.slide h1 {
  font-size: 8vw;
  color: rgb(224, 224, 224);
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}
.slide h2 {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}
.slide-content {
  transform: translate(0, -10%);
}
